/*layouts/ est le dossier où vous mettez vos blocs BEM qui contiennent ce qui est
réutilisable, par exemple un header pour les mises en page de grande
taille ou un footer */

.logo {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  img {
    width: 50%;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 15px 0px;
  &__logo img {
    width: 50%;
  }

  &__arrow {
    padding-left: 20px;
  }
}
