/*layouts/ est le dossier où vous mettez vos blocs BEM qui contiennent ce qui est
réutilisable, par exemple un header pour les mises en page de grande
taille ou un footer */

/**header page d'acceuil***/
.logo {
  display: flex;
  justify-content: center;
  padding: 15px 0px;

  img {
    width: 50%;
    @include tablette {
      width: 40%;
    }
  }
}

/***header page restaurants***/
header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 15px 0px;
  .header__logo > img {
    width: 50%;
  }

  .headerLink {
    padding-left: 20px;

    & > a {
      text-decoration: none;
      color: black;
      cursor: pointer;
    }

    @include tablette {
      font-size: 1.9rem;
    }
  }
}
