.location {
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  background-color: #eaeaea;

  &__text {
    padding: 0px 20px;
  }
}

.hero {
  background-color: $ligth-gray;
  text-align: center;

  &__title {
    padding-top: 2rem;
  }

  &__para {
    font-weight: 300;
    padding-top: 15px;
  }
}

.operation {
  padding: 30px 15px;

  &__title {
    padding-bottom: 30px;
  }

  &__content {
    list-style: none;
    counter-reset: compteListe;
  }

  &__steps {
    @include desktop {
      display: flex;
    }
  }

  &__step {
    background-color: $ligth-gray;
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include desktop {
      width: 100%;
      margin: 0px 15px;
    }

    &::before {
      counter-increment: compteListe;
      content: counter(compteListe) " ";
      background-color: $color-primary;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      border-radius: 20px;
      position: absolute;
      left: -0.5rem;
    }

    & .fa-mobile-alt {
      padding-left: 15px;
    }
  }

  &__icon {
    margin-right: 1.5rem;
    justify-content: center;
    align-items: center;
    color: #7e7e7e;
  }

  & span {
    font-weight: 700;
  }
}

.restaurant {
  background-color: $ligth-gray;
  padding: 50px 15px 20px 15px;

  &__content {
    @include desktop {
      display: grid;
      grid: 0.1fr 1fr 1fr/ 1fr 1fr;
      column-gap: 15px;
    }
  }

  &__title {
    padding-bottom: 20px;
  }

  &__card {
    margin-bottom: 20px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 20px;
  }

  &__buttonHeart {
    position: absolute;
    top: 16px;
    right: 15px;
    background-color: transparent;
    border: transparent 0px solid;
  }
}

.card {
  text-decoration: none;
  color: black;

  &__img {
    position: relative;
    width: 100%;
    height: 190px;
  }

  &__img img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__label {
    background-color: $color-tertiary;
    color: $dark-color-tertiary;
    border-radius: 4px;
    padding: 10px 20px;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  &__description {
    padding-top: 15px;
    padding-left: 10px;
    position: relative;
  }

  &__title {
    font-size: 1.1rem;
    font-weight: 700;
  }

  &__para {
    margin-top: 10px;
    font-weight: 300;
  }

  @include desktop {
    &__topleft--desktop {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    &__topright--desktop {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }

    &__bottomleft--desktop {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }

    &__bottomright--desktop {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
    }
  }
}
