.heroImg {
  width: 99%;
  height: 100%;
  object-fit: cover;
  @include tablette {
    height: 20rem;
  }
  @include desktop {
    height: 28rem;
  }
}

.menu {
  background-color: #f6f6f6;
  border-radius: 60px;
  margin-top: -50px;
  padding: 15px 10px;
  z-index: 1;
  position: relative;
  display: grid;

  @include tablette {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    width: 95%;

    &__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 2fr;
      column-gap: 10px;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    font-family: "Shrikhand", cursive;

    & h2 {
      font-weight: 100;
    }
    @include desktop {
      grid-area: 1 / 1 / 2 / 4;
    }
  }

  &__button {
    background-color: transparent;
    border: transparent 0px solid;
    display: flex;
    /*position: relative;*/
    position: absolute;
    top: 25px;
    right: 30px;
    @include desktop {
      top: 65px;
    }
  }

  /***animation des cartes apparition progressive***/
  &__enter {
    animation: cardsappear 0.4s 0.3s ease-in-out;
    animation-fill-mode: both;
    position: relative;
  }

  &__dishes {
    animation: cardsappear 0.4s 0.5s ease-in-out;
    animation-fill-mode: both;
  }

  &__dessert {
    animation: cardsappear 0.4s 0.7s ease-in-out;
    animation-fill-mode: both;
  }
  /***fin de l'animation***/
  &__subtitle {
    padding: 15px 10px;

    & h3 {
      padding-bottom: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: $color-tertiary;
    }
  }

  &__card {
    padding: 10px 5px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    & h4 {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    & p {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }
}

.items__price {
  font-size: 0.6rem;
  grid-row: 2;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: end;
  padding-right: 10px;
}
