.heroImg {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
}

.menu {
  background-color: #f6f6f6;
  position: relative;
  display: grid;

  @include tablette {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    width: 95%;
  }

  &__category {
    background-color: #f6f6f6;
    position: relative;
    z-index: 1;
    border-radius: 60px;
    margin-top: -50px;
    padding: 15px 10px;

    @include desktop {
      margin-top: -30px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 2fr;
      column-gap: 10px;
    }
  }

  &__title {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    font-family: "Shrikhand", cursive;

    & h2 {
      font-weight: 100;
    }
    @include desktop {
      grid-area: 1 / 1 / 2 / 4;
    }
  }

  &__buttonHeart {
    background-color: transparent;
    border: transparent 0px solid;
    display: flex;
    position: relative;
    position: absolute;
    top: 15px;
    right: 30px;
    @include desktop {
      top: 55px;
    }
  }
  //animation
  &__description {
    animation: cardsappear 0.4s $anim-dur ease-in-out;
    animation-fill-mode: both;
    &:nth-child(1) {
      animation-delay: 0.5s;
    }
    &:nth-child(2) {
      animation-delay: 0s;
    }
    &:last-child {
      animation-delay: 0.7s;
    }
  }

  &__subtitle {
    padding: 15px 10px;

    & h3 {
      padding-bottom: 5px;
      text-transform: uppercase;
    }

    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 3px;
      background-color: $color-tertiary;
    }
  }

  &__card {
    padding: 10px 5px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    position: relative;
    overflow: hidden;

    &:hover {
      .menu__name {
        width: 60%;
      }
      .menu__price {
        transform: translateX(-7vh);
        margin: 0px;
      }
      .menu__containerCheckIcon {
        transform: scaleX(1);
        & > i {
          transform: rotate(0deg);
        }
      }
      cursor: pointer;
    }
  }

  &__name {
    width: 100%;
    transition: $anim-dur ease-in-out;

    &--wrap {
      white-space: inherit;
    }
  }

  &__price {
    font-size: 0.9rem;
    margin-right: 0.2rem;
    align-self: flex-end;
    position: absolute;
    top: 28px;
    right: 5px;
    width: 8%;
    transition: transform $anim-dur ease-in-out;
  }

  &__containerCheckIcon {
    background-color: $color-tertiary;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform $anim-dur ease-in-out;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 13%;
    height: 100%;

    & > i {
      color: white;
      font-size: 25px;
      transform: rotate(-360deg);
      transition: 500ms ease-in-out;
    }
  }
}
